.btnWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.btnRegister {
  padding: 16px 32px;

  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: var(--secondary-white-color);

  background: transparent;
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;

  transition: all var(--transition-duration) var(--transition-timing-function);
}

.btnRegister:hover {
  border-color: rgba(247, 248, 250, 1);
}

.btnLogin {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-line: underline;
  text-align: center;
  color: var(--secondary-white-color);

  background: transparent;
}

.greenColor {
  color: var(--primary-green-color);

  border-color: rgba(89, 177, 122, 0.5);
}

.greenColor:hover {
  border-color: rgba(89, 177, 122, 1);
}
