.wrapperList {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.reviewItem {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 14px 28px;
  box-sizing: border-box;

  border: 1px solid var(--secondary-white-color);
  border-radius: 20px;
}

.nameWrapper {
  display: flex;
  gap: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--primary-green-color);
  background-color: var(--primary-light-green-color);
  border-radius: 30px;
}

.firstLetter {
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(29, 30, 33, 0.6);
}

.ratingWrapper {
  position: absolute;
  top: 14px;
  right: 28px;

  display: flex;
  align-items: center;
  gap: 6px;
}

.starIcon {
  width: 16px;
  height: 16px;
}

.ratingValue {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(106, 106, 111);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
