.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 40px;

  background-color: var(--primary-white-color);
  border-radius: 27px;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding: 32px 32px 64px;
    gap: 32px;
    box-sizing: border-box;
  }

  @media screen and (min-width: 1440px) {
    width: 800px;
    padding: 40px 40px 80px;
    gap: 40px;
  }
}

.tabsWrapper {
  display: flex;
  gap: 8px;
}

.tabLink {
  padding: 8px 25px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -5%;
  text-align: center;
  color: var(--primary-green-color);

  background-color: rgba(89, 177, 122, 0.1);
  border-radius: 40px;

  transition: all var(--transition-duration) var(--transition-timing-function);
}

.active {
  color: var(--primary-white-color);
  background-color: var(--primary-green-color);
}
