.descriptionWrapper p {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.29;
  color: #6a6a6f;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.descriptionWrapper ul li span {
  font-size: 14px;
  line-height: 1.29;
  color: #6a6a6f;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.descriptionWrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  line-height: 1.29;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
