.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 46px;

  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all var(--transition-duration) var(--transition-timing-function);
  box-shadow: rgba(149, 157, 165, 0.103) 0px 0px 24px;
  color: var(--primary-dark-gray-color);

  background-color: var(--primary-white-color);
  border: 8px solid var(--primary-white-color);
  border-radius: 60px;
}

.link:hover,
.link:focus {
  background-color: var(--primary-green-color);
  color: var(--primary-white-color);
}

.wrapper .link:not(:last-child)::after {
  position: absolute;
  bottom: -13px;
  right: 50%;
  content: '';

  width: 15px;
  height: 8px;

  background-color: var(--primary-white-color);

  transform: translateX(50%);

  @media screen and (min-width: 1440px) {
    bottom: 50%;
    right: -17px;

    transform: translateX(0) translateY(50%) rotate(-90deg);
  }
}

@media screen and (min-width: 1440px) {
  .wrapper .link:not(:last-child)::after {
    bottom: 50% !important;
    left: auto !important;
    right: -17px !important;

    transform: translateX(0) translateY(50%) rotate(-90deg) !important;
  }
}
.linkHome {
  width: 96px;
}

.linkMedicineStore {
  width: 134px;
}

.linkMedicine {
  width: 112px;
}

.active {
  background-color: var(--primary-green-color);
  color: var(--primary-white-color);
}
